body{
    width: 100vw;
    min-height: 100vh;
    background: $body-bg;

}
.table-header{
    font-weight: 700;
    cursor: pointer;
}
.selected-column{
    background-color: #eee;
}
.cursor-pointer{
    cursor: pointer;
}
